
{% extends 'base.html' %}
{% load customer %}
{% block page-container %}
{#    {{ artilce_list }}#}
    <div class="wrap-left">
    {% for article in artilce_list %}
        <div class="article-box row">
            <div class="article-head-img col-md-4">
                <img src="/static/{{ article.head_img|truncate_url }}" >
            </div>
            <div class="article-brief col-md-8">
                <a class="article-title" href="{% url 'article_detail' article.id %}">{{ article.tilte}}</a>
                <div class="article-brief-info">
                    <span>{{ article.author.name }}</span>
                    <span>{{ article.pub_date }}</span>
                    <span>{% filter_comment article as comments %}</span>
                    <span class ="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    {{ comments.comment_count }}
                    <span class ="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    {{ comments.thumb_count }}
                </div>
                <div class="article-brief-text">
                    <span>{{ article.brief }}</span>
                </div>
        </div>
    </div>
    {% endfor %}
    </div>
        <div class="wrap-right">
        right
        </div>
        <div class="clear"></div>
{#        <div class="footer">#}
{#        asfasdfasdf#}
{#        </div>#}
        <hr>
 {% endblock %}